<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/product-list">Products</a>
          </li>
          <li class="main-header__item">
            <a href="/cart">Cart</a>
          </li>
          <li class="main-header__item">
            <a href="/orders">Orders</a>
          </li>
          <li class="main-header__item">
            <a class="active" href="/add-product">Add Product</a>
          </li>
          <li class="main-header__item">
            <a href="/admin-products">Admin Products</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <form
        class="product-form"
        action="/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
        method="POST"
      >
        <div class="form-control">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            value="<% if (editing) { %><%= product.title %><% } %>"
          />
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input
            type="text"
            name="imageUrl"
            id="imageUrl"
            value="<% if (editing) { %><%= product.imageUrl %><% } %>"
          />
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input
            type="number"
            name="price"
            id="price"
            step="0.01"
            value="<% if (editing) { %><%= product.price %><% } %>"
          />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="5">
<% if (editing) { %><%= product.description %><% } %></textarea
          >
        </div>
        <% if (editing) { %>
        <input type="hidden" value="<%= product._id %>" name="productId" />
        <% } %>
        <button type="submit">
          <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
        </button>
      </form>
    </main>
  </body>
</html>
